@{
    ViewData["Title"] = "View|Question|Type";
}

<div class="p-4 sm:ml-64 mt-10">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
<h1>Which questions do you want to view</h1>


<a asp-action="ViewQuestions" asp-controller="Subject">Multiple Choice Questions</a>
<a asp-action="ViewQuestionsFIB" asp-controller="Subject">Fill in the blanks</a>
</div>
</div>