@{
    ViewData["Title"] = "Question|Select";
}

<h1>Select Question Type</h1>
<div class="question-type">

   <div class="card-question-type">
        <a href="@Url.Action("CreationType", "QuestionType")">

                    <h3>Multiple Choice Question</h3>
                    <p>Create an MCQ in the question bank</p>
        </a>
   </div>
   <div class="card-question-type">
        <a href="@Url.Action("CreationTypeFIB", "QuestionType")">

                    <h3>Fill in the blank</h3>
                    <p>Create a Fill in the Blank Question</p>
        </a>
   </div>

</div>