html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*tab navigation*/
.login-logout-card .card-header{
    padding:0px 0px 12px 0px;
}

.login-logout-card .ul.nav-tabs {
    padding: 0px 0px -12px 0px;
}

.login-logout-card .li.nav-item {
    width: 50%;
}

.login-logout-card .a.nav-link {
    font-size:1rem;
    color: blue;
    text-align: center;
    padding: 1rem;

}

.login-logout-card .card-header0 {
    padding: 10px 20px;
}


.uploadFileContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-image: linear-gradient(to right, #ff0000, #0000ff);
    border-image-slice: 10;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius : 10px
}
.options {
    padding: 10px;
    margin : 5px;
}
.subject-name {
    text-align : right;
    margin-left : 20px
}
.subjects-container {
    margin : 10px
}
.fixed-tabs {
    font-style : oblique;
    font-size : large
   
}
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000, #1E4D92) content-box;
    mask: repeating-conic-gradient( #0000 0deg, #000 1deg calc(360deg/10 - 10deg - 1deg), #0000 calc(360deg/10 - 10deg) calc(360deg/10) ), radial-gradient( farthest-side, #0000 calc(98% - 10px), #000 calc(100% - 10px) );
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
    animation: spin 1000ms infinite steps(10);
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}
.err-message-questions {
  font-size  : larger;
  color : darkred
}
.no-of-questions {

    color: mediumspringgreen;
    font-family  : 'Times New Roman', Times, serif;
    font-size : large

}
.total-percentage  {
    font-size :large;
    color : forestgreen;
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float : right
}
.total-percentage-err {
    font-size: large;
    color: red
}

.nav-link:hover {
    background-color: lightgray;
    cursor: pointer;
}

.question-type  {

    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    background-color  :  mintcream;
    border : 0.1px solid grey
    


}
    .question-type a {
        text-decoration: none;
    }


.card-question-type {
  margin : 20px;
  border : 1px double grey;
  height : 100%;
  width : 100%;
  font-family : 'Global Serif';
  padding : 10px

}
.card-question-type :hover {
    color : cornflowerblue
}

.session-details {


    font-family : monospace
}
.test-details {
    font-family:'Lucida Sans';
    font-weight : bold;
    color : darkslategrey;
    background-color : cornsilk;
    border-radius : 20px;   
}


.create-test-button {
  margin : 8px;
 font-family : monospace;
 font-weight: bold  ;

}
.create-test-page-title {

font-family : 'Leelawadee UI';
font-weight : bold;
}