@using Microsoft.AspNetCore.Identity
@using AuthSystem.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Users";

}
<h1>Role Management</h1>
    <table id="example" class="table table-primary table-hover table-responsive">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                var User = await UserManager.FindByIdAsync(user.Id);
                var userName = User != null ? await UserManager.GetUserNameAsync(User) : string.Empty;
                var firstName = User != null ? User.FirstName : string.Empty;
                var lastName = User != null ? User.LastName : string.Empty;
                <tr>
                    <td>@firstName @lastName</td>
                    <td>@user.Email</td>
                    <td>
                        <a asp-action="Users" asp-controller="Roles" asp-route-userId="@user.Id" class="btn btn-warning">Assign Role</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
