@model AuthSystem.Models.FeeVoucher
@{
    ViewData["Title"] = "Fee Voucher || Print";
}


<div>
    <h2>Fee Voucher</h2>
    <p>Student Name: @Model.ApplicantName</p>
    <p>Test Name: @Model.TestName</p>
    <p>Amount: @Model.Amount</p>
    <!-- Include other fee voucher details here -->
</div>
