@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h3 class="display-8">Welcome to PAF-IAST Testing Service</h3>
     <a href="https://paf-iast.edu.pk/"></a>
    <img src="/logo_pafiast.png" style="width :100%; height: 100%" />

</div>
