@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="background-color:#F8F8FF; width:80%; height:80%; align-items:center">
    <img src="/logo_pafiast.png" style="width :60%; height: 50%; align-items:center" />
    <h4 style="color:blue"class="display-8">Welcome to PAF-IAST Testing Service</h4>
     <a href="https://paf-iast.edu.pk/"></a>
    
</div>